body {
	margin: 0 auto;
	background: blanchedalmond;
}


.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 2px solid darkgoldenrod;
	width: 50vw;
	margin: 35px auto 0 auto;
	height: 50vh;
	padding-top: 20px;
	flex-direction: column;
	gap: 10px;
}


.text-box {
	width: 20vw;
	height: 2vh;
}

.header {
	/*flex-wrap: nowrap;*/
}

.reset-btn {
	display: inline-block;
}
