body {
	margin: 0 auto;
	background: blanchedalmond;
}


.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 2px solid darkgoldenrod;
	width: 50vw;
	margin: 35px auto 0 auto;
	height: 50vh;
	padding-top: 20px;
	flex-direction: column;
	gap: 10px;
}


.text-box {
	width: 20vw;
	height: 2vh;
}

.header {
	/*flex-wrap: nowrap;*/
}

.reset-btn {
	display: inline-block;
}


@media (max-width: 600px) {
  .container {
    width: 95%;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }

  .text-box {
    width: 100%;
    font-size: 1rem;
  }

  .add-btn, .reset-btn {
    width: 100%;
    margin: 5px 0;
    font-size: 1rem;
  }

  .header {
    font-size: 1em;
  }
}
